In [1]:
# pip install fredapi

In [2]:
import pandas as pd
import pickle
import numpy as np

C:\Users\H P\AppData\Roaming\Python\Python310\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

#### Import pickle data

In [3]:
with open('DATA.pkl', 'rb') as file:
    data = pickle.load(file)

data

[      period      seriesId                            seriesDescription  \
 0    2025-12  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 1    2025-11  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 2    2025-10  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 3    2025-09  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 4    2025-08  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 ..       ...           ...                                          ...
 391  1993-05  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 392  1993-04  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 393  1993-03  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 394  1993-02  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production
 395  1993-01  PAPR_NONOPEC  Total non-OPEC Liquids Petroleum Production

          value                     unit
 0    73.089374  million barrels per day
 1    73.226703  million barrels per day
 2    73.118412  million barrels per day
 3    72.697823  million barrels per day
 4    72.647269  million barrels per day
 ..         ...                      ...
 391  41.962095  million barrels per day
 392  42.025591  million barrels per day
 393  42.213345  million barrels per day
 394  42.260014  million barrels per day
 395  42.381897  million barrels per day

 [396 rows x 5 columns],
       period   seriesId            seriesDescription      value  \
 0    2025-12  PAPR_OPEC  Total OPEC Petroleum Supply  32.391859
 1    2025-11  PAPR_OPEC  Total OPEC Petroleum Supply  32.491956
 2    2025-10  PAPR_OPEC  Total OPEC Petroleum Supply  32.643293
 3    2025-09  PAPR_OPEC  Total OPEC Petroleum Supply  32.750865
 4    2025-08  PAPR_OPEC  Total OPEC Petroleum Supply  32.698519
 ..       ...        ...                          ...        ...
 391  1993-05  PAPR_OPEC  Total OPEC Petroleum Supply  24.565105
 392  1993-04  PAPR_OPEC  Total OPEC Petroleum Supply  24.391384
 393  1993-03  PAPR_OPEC  Total OPEC Petroleum Supply  24.938303
 394  1993-02  PAPR_OPEC  Total OPEC Petroleum Supply  25.547890
 395  1993-01  PAPR_OPEC  Total OPEC Petroleum Supply  25.407278

                         unit
 0    million barrels per day
 1    million barrels per day
 2    million barrels per day
 3    million barrels per day
 4    million barrels per day
 ..                       ...
 391  million barrels per day
 392  million barrels per day
 393  million barrels per day
 394  million barrels per day
 395  million barrels per day

 [396 rows x 5 columns],
       period   seriesId                     seriesDescription      value  \
 0    2025-12  PATC_OECD  Liquid Fuels Consumption, Total OECD  46.749108
 1    2025-11  PATC_OECD  Liquid Fuels Consumption, Total OECD  46.261062
 2    2025-10  PATC_OECD  Liquid Fuels Consumption, Total OECD  46.386755
 3    2025-09  PATC_OECD  Liquid Fuels Consumption, Total OECD  46.239799
 4    2025-08  PATC_OECD  Liquid Fuels Consumption, Total OECD  46.561948
 ..       ...        ...                                   ...        ...
 427  1990-05  PATC_OECD  Liquid Fuels Consumption, Total OECD  40.404323
 428  1990-04  PATC_OECD  Liquid Fuels Consumption, Total OECD  40.389046
 429  1990-03  PATC_OECD  Liquid Fuels Consumption, Total OECD  42.289847
 430  1990-02  PATC_OECD  Liquid Fuels Consumption, Total OECD  43.172266
 431  1990-01  PATC_OECD  Liquid Fuels Consumption, Total OECD  42.477491

                         unit
 0    million barrels per day
 1    million barrels per day
 2    million barrels per day
 3    million barrels per day
 4    million barrels per day
 ..                       ...
 427  million barrels per day
 428  million barrels per day
 429  million barrels per day
 430  million barrels per day
 431  million barrels per day

 [432 rows x 5 columns],
       period       seriesId                         seriesDescription  \
 0    2025-12  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 1    2025-11  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 2    2025-10  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 3    2025-09  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 4    2025-08  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 ..       ...            ...                                       ...
 427  1990-05  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 428  1990-04  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 429  1990-03  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 430  1990-02  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD
 431  1990-01  PATC_NON_OECD  Liquid Fuels Consumption, Total non-OECD

          value                     unit
 0    59.646128  million barrels per day
 1    58.596451  million barrels per day
 2    57.502107  million barrels per day
 3    58.984846  million barrels per day
 4    58.203677  million barrels per day
 ..         ...                      ...
 427  24.985235  million barrels per day
 428  24.985671  million barrels per day
 429  24.985897  million barrels per day
 430  24.986039  million barrels per day
 431  24.986265  million barrels per day

 [432 rows x 5 columns],
       period seriesId          seriesDescription      value  \
 0    2025-12  COPRPUS  U.S. Crude Oil Production  13.917010
 1    2025-11  COPRPUS  U.S. Crude Oil Production  13.892580
 2    2025-10  COPRPUS  U.S. Crude Oil Production  13.824910
 3    2025-09  COPRPUS  U.S. Crude Oil Production  13.752950
 4    2025-08  COPRPUS  U.S. Crude Oil Production  13.781220
 ..       ...      ...                        ...        ...
 427  1990-05  COPRPUS  U.S. Crude Oil Production   7.328342
 428  1990-04  COPRPUS  U.S. Crude Oil Production   7.407173
 429  1990-03  COPRPUS  U.S. Crude Oil Production   7.433341
 430  1990-02  COPRPUS  U.S. Crude Oil Production   7.497242
 431  1990-01  COPRPUS  U.S. Crude Oil Production   7.546173

                         unit
 0    million barrels per day
 1    million barrels per day
 2    million barrels per day
 3    million barrels per day
 4    million barrels per day
 ..                       ...
 427  million barrels per day
 428  million barrels per day
 429  million barrels per day
 430  million barrels per day
 431  million barrels per day

 [432 rows x 5 columns],
       period seriesId         seriesDescription     value  \
 0    2025-12  CORIPUS  Crude OIl Refinery Input  15.91869
 1    2025-11  CORIPUS  Crude OIl Refinery Input  15.72374
 2    2025-10  CORIPUS  Crude OIl Refinery Input  15.05206
 3    2025-09  CORIPUS  Crude OIl Refinery Input  15.71117
 4    2025-08  CORIPUS  Crude OIl Refinery Input  16.07504
 ..       ...      ...                       ...       ...
 427  1990-05  CORIPUS  Crude OIl Refinery Input  13.38600
 428  1990-04  CORIPUS  Crude OIl Refinery Input  13.05100
 429  1990-03  CORIPUS  Crude OIl Refinery Input  12.87600
 430  1990-02  CORIPUS  Crude OIl Refinery Input  13.48700
 431  1990-01  CORIPUS  Crude OIl Refinery Input  13.49100

                         unit
 0    million barrels per day
 1    million barrels per day
 2    million barrels per day
 3    million barrels per day
 4    million barrels per day
 ..                       ...
 427  million barrels per day
 428  million barrels per day
 429  million barrels per day
 430  million barrels per day
 431  million barrels per day

 [432 rows x 5 columns],
       period      seriesId                                  seriesDescription  \
 0    2025-12  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 1    2025-11  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 2    2025-10  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 3    2025-09  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 4    2025-08  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 ..       ...           ...                                                ...
 271  2003-05  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 272  2003-04  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 273  2003-03  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 274  2003-02  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...
 275  2003-01  PASC_OECD_T3  OECD End-of-period Commercial Crude Oil and Ot...

            value                            unit
 0    2730.277012  million barrels, end-of-period
 1    2752.204348  million barrels, end-of-period
 2    2744.363648  million barrels, end-of-period
 3    2731.848964  million barrels, end-of-period
 4    2726.295196  million barrels, end-of-period
 ..           ...                             ...
 271  2541.263000  million barrels, end-of-period
 272  2493.210998  million barrels, end-of-period
 273  2463.397002  million barrels, end-of-period
 274  2394.414000  million barrels, end-of-period
 275  2476.715001  million barrels, end-of-period

 [276 rows x 5 columns],
       period   seriesId                               seriesDescription  \
 0    2025-12  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 1    2025-11  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 2    2025-10  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 3    2025-09  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 4    2025-08  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 ..       ...        ...                                             ...
 391  1993-05  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 392  1993-04  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 393  1993-03  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 394  1993-02  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity
 395  1993-01  COPS_OPEC  OPEC Total Spare Crude Oil Production Capacity

         value                     unit
 0    4.147000  million barrels per day
 1    4.046000  million barrels per day
 2    3.895000  million barrels per day
 3    3.794000  million barrels per day
 4    3.846916  million barrels per day
 ..        ...                      ...
 391  4.314518  million barrels per day
 392  4.488239  million barrels per day
 393  3.941320  million barrels per day
 394  3.331733  million barrels per day
 395  3.472345  million barrels per day

 [396 rows x 5 columns],
       period   seriesId                         seriesDescription      value  \
 0    2025-12  COPC_OPEC  OPEC Total Crude Oil Production Capacity  31.257806
 1    2025-11  COPC_OPEC  OPEC Total Crude Oil Production Capacity  31.258146
 2    2025-10  COPC_OPEC  OPEC Total Crude Oil Production Capacity  31.258486
 3    2025-09  COPC_OPEC  OPEC Total Crude Oil Production Capacity  31.263827
 4    2025-08  COPC_OPEC  OPEC Total Crude Oil Production Capacity  31.264167
 ..       ...        ...                                       ...        ...
 427  1990-05  COPC_OPEC  OPEC Total Crude Oil Production Capacity  27.998959
 428  1990-04  COPC_OPEC  OPEC Total Crude Oil Production Capacity  28.167217
 429  1990-03  COPC_OPEC  OPEC Total Crude Oil Production Capacity  28.225707
 430  1990-02  COPC_OPEC  OPEC Total Crude Oil Production Capacity  28.021190
 431  1990-01  COPC_OPEC  OPEC Total Crude Oil Production Capacity  27.318876

                         unit
 0    million barrels per day
 1    million barrels per day
 2    million barrels per day
 3    million barrels per day
 4    million barrels per day
 ..                       ...
 427  million barrels per day
 428  million barrels per day
 429  million barrels per day
 430  million barrels per day
 431  million barrels per day

 [432 rows x 5 columns],
       period           seriesId  \
 0    2025-12  T3_STCHANGE_OOECD
 1    2025-11  T3_STCHANGE_OOECD
 2    2025-10  T3_STCHANGE_OOECD
 3    2025-09  T3_STCHANGE_OOECD
 4    2025-08  T3_STCHANGE_OOECD
 ..       ...                ...
 270  2003-06  T3_STCHANGE_OOECD
 271  2003-05  T3_STCHANGE_OOECD
 272  2003-04  T3_STCHANGE_OOECD
 273  2003-03  T3_STCHANGE_OOECD
 274  2003-02  T3_STCHANGE_OOECD

                                      seriesDescription     value  \
 0    Net Inventory Withdrawals, Total Other OECD Cr...  0.090398
 1    Net Inventory Withdrawals, Total Other OECD Cr... -0.261190
 2    Net Inventory Withdrawals, Total Other OECD Cr... -0.651667
 3    Net Inventory Withdrawals, Total Other OECD Cr... -0.016926
 4    Net Inventory Withdrawals, Total Other OECD Cr... -0.198223
 ..                                                 ...       ...
 270  Net Inventory Withdrawals, Total Other OECD Cr... -0.737567
 271  Net Inventory Withdrawals, Total Other OECD Cr... -0.476290
 272  Net Inventory Withdrawals, Total Other OECD Cr... -0.284933
 273  Net Inventory Withdrawals, Total Other OECD Cr... -1.772806
 274  Net Inventory Withdrawals, Total Other OECD Cr...  1.369643

                         unit
 0    million barrels per day
 1    million barrels per day
 2    million barrels per day
 3    million barrels per day
 4    million barrels per day
 ..                       ...
 270  million barrels per day
 271  million barrels per day
 272  million barrels per day
 273  million barrels per day
 274  million barrels per day

 [275 rows x 5 columns],
       period           seriesId  \
 0    2025-12  T3_STCHANGE_NOECD
 1    2025-11  T3_STCHANGE_NOECD
 2    2025-10  T3_STCHANGE_NOECD
 3    2025-09  T3_STCHANGE_NOECD
 4    2025-08  T3_STCHANGE_NOECD
 ..       ...                ...
 270  2003-06  T3_STCHANGE_NOECD
 271  2003-05  T3_STCHANGE_NOECD
 272  2003-04  T3_STCHANGE_NOECD
 273  2003-03  T3_STCHANGE_NOECD
 274  2003-02  T3_STCHANGE_NOECD

                                      seriesDescription     value  \
 0    Net Inventory Withdrawals, Total Non-OECD Crud...  0.206670
 1    Net Inventory Withdrawals, Total Non-OECD Crud... -0.599789
 2    Net Inventory Withdrawals, Total Non-OECD Crud... -1.469144
 3    Net Inventory Withdrawals, Total Non-OECD Crud... -0.038918
 4    Net Inventory Withdrawals, Total Non-OECD Crud... -0.452876
 ..                                                 ...       ...
 270  Net Inventory Withdrawals, Total Non-OECD Crud...  2.690327
 271  Net Inventory Withdrawals, Total Non-OECD Crud...  1.007573
 272  Net Inventory Withdrawals, Total Non-OECD Crud...  0.686065
 273  Net Inventory Withdrawals, Total Non-OECD Crud...  2.080385
 274  Net Inventory Withdrawals, Total Non-OECD Crud...  0.295634

                         unit
 0    million barrels per day
 1    million barrels per day
 2    million barrels per day
 3    million barrels per day
 4    million barrels per day
 ..                       ...
 270  million barrels per day
 271  million barrels per day
 272  million barrels per day
 273  million barrels per day
 274  million barrels per day

 [275 rows x 5 columns]]

#### Filter dates (2000-01-01 to 2024-01-01)

In [4]:
for i in range(len(data)):
    data[i]['period'] = pd.to_datetime(data[i]['period'])

In [5]:
filtered_dates_0 = data[0][(data[0]['period'] >= pd.to_datetime('2000-01-01')) & (data[0]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_1 = data[1][(data[1]['period'] >= pd.to_datetime('2000-01-01')) & (data[1]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_2 = data[2][(data[2]['period'] >= pd.to_datetime('2000-01-01')) & (data[2]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_3 = data[3][(data[3]['period'] >= pd.to_datetime('2000-01-01')) & (data[3]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_4 = data[4][(data[4]['period'] >= pd.to_datetime('2000-01-01')) & (data[4]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_5 = data[5][(data[5]['period'] >= pd.to_datetime('2000-01-01')) & (data[5]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_6 = data[6][(data[6]['period'] >= pd.to_datetime('2000-01-01')) & (data[6]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_7 = data[7][(data[7]['period'] >= pd.to_datetime('2000-01-01')) & (data[7]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_8 = data[8][(data[8]['period'] >= pd.to_datetime('2000-01-01')) & (data[8]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_9 = data[9][(data[9]['period'] >= pd.to_datetime('2000-01-01')) & (data[9]['period'] < pd.to_datetime('2024-01-01'))]
filtered_dates_10 = data[10][(data[10]['period'] >= pd.to_datetime('2000-01-01')) & (data[10]['period'] < pd.to_datetime('2024-01-01'))]

In [6]:
len(filtered_dates_10)

251

#### Merge all dataframes into one

In [7]:
data_frames = [
    filtered_dates_0, filtered_dates_1, filtered_dates_2, filtered_dates_3, 
    filtered_dates_4, filtered_dates_5, filtered_dates_6, filtered_dates_7, 
    filtered_dates_8, filtered_dates_9, filtered_dates_10
]

merged_df = data_frames[0]

for i, df in enumerate(data_frames[1:], 1):
    suffix = f'_{i}'
    merged_df = merged_df.merge(df, on='period', suffixes=('', suffix), how='outer')

merged_df = merged_df.sort_values(by='period')
merged_df.reset_index(drop=True, inplace=True)

#### Rename value col to seriesid value.
Eg., 'seriesId_1' has only 'PAPR_OPEC'. Rename 'value_1' to 'PAPR_OPEC'

In [8]:
rename_dict = {}

# Handle the first 'value' column separately
if 'seriesId' in merged_df.columns:
    rename_dict['value'] = merged_df.loc[50, 'seriesId']

# Handle the rest of the 'value' columns
for i in range(1, len(data_frames)):
    series_id_col = f'seriesId_{i}'
    value_col = f'value_{i}'
    if series_id_col in merged_df.columns:
        rename_dict[value_col] = merged_df.loc[50, series_id_col]

merged_df.rename(columns=rename_dict, inplace=True)

In [9]:
merged_df

,period,seriesId,seriesDescription,PAPR_NONOPEC,unit,seriesId_1,seriesDescription_1,PAPR_OPEC,unit_1,seriesId_2,...,COPC_OPEC,unit_8,seriesId_9,seriesDescription_9,T3_STCHANGE_OOECD,unit_9,seriesId_10,seriesDescription_10,T3_STCHANGE_NOECD,unit_10
0,2000-01-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,47.662093,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,28.008193,million barrels per day,PATC_OECD,...,31.236635,million barrels per day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-02-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,47.582217,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,28.671193,million barrels per day,PATC_OECD,...,31.236635,million barrels per day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-03-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,47.696975,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,28.605599,million barrels per day,PATC_OECD,...,31.236635,million barrels per day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-04-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,47.368439,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,29.552483,million barrels per day,PATC_OECD,...,31.236635,million barrels per day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-05-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,47.383670,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,30.081687,million barrels per day,PATC_OECD,...,31.236635,million barrels per day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2023-08-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,69.882913,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,31.363500,million barrels per day,PATC_OECD,...,30.595250,million barrels per day,T3_STCHANGE_OOECD,"Net Inventory Withdrawals, Total Other OECD Cr...",-0.501419,million barrels per day,T3_STCHANGE_NOECD,"Net Inventory Withdrawals, Total Non-OECD Crud...",1.448644,million barrels per day
284,2023-09-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,70.305827,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,31.988400,million barrels per day,PATC_OECD,...,30.705250,million barrels per day,T3_STCHANGE_OOECD,"Net Inventory Withdrawals, Total Other OECD Cr...",0.739967,million barrels per day,T3_STCHANGE_NOECD,"Net Inventory Withdrawals, Total Non-OECD Crud...",0.308575,million barrels per day
285,2023-10-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,70.536928,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,31.854400,million barrels per day,PATC_OECD,...,30.775250,million barrels per day,T3_STCHANGE_OOECD,"Net Inventory Withdrawals, Total Other OECD Cr...",0.566129,million barrels per day,T3_STCHANGE_NOECD,"Net Inventory Withdrawals, Total Non-OECD Crud...",-2.155695,million barrels per day
286,2023-11-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,71.234446,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,31.905062,million barrels per day,PATC_OECD,...,30.880250,million barrels per day,T3_STCHANGE_OOECD,"Net Inventory Withdrawals, Total Other OECD Cr...",-0.125988,million barrels per day,T3_STCHANGE_NOECD,"Net Inventory Withdrawals, Total Non-OECD Crud...",-0.277955,million barrels per day
287,2023-12-01,PAPR_NONOPEC,Total non-OPEC Liquids Petroleum Production,71.222288,million barrels per day,PAPR_OPEC,Total OPEC Petroleum Supply,31.892104,million barrels per day,PATC_OECD,...,31.020250,million barrels per day,T3_STCHANGE_OOECD,"Net Inventory Withdrawals, Total Other OECD Cr...",-0.123572,million barrels per day,T3_STCHANGE_NOECD,"Net Inventory Withdrawals, Total Non-OECD Crud...",-0.277639,million barrels per day

In [10]:
merged_df.columns

Index(['period', 'seriesId', 'seriesDescription', 'PAPR_NONOPEC', 'unit',
       'seriesId_1', 'seriesDescription_1', 'PAPR_OPEC', 'unit_1',
       'seriesId_2', 'seriesDescription_2', 'PATC_OECD', 'unit_2',
       'seriesId_3', 'seriesDescription_3', 'PATC_NON_OECD', 'unit_3',
       'seriesId_4', 'seriesDescription_4', 'COPRPUS', 'unit_4', 'seriesId_5',
       'seriesDescription_5', 'CORIPUS', 'unit_5', 'seriesId_6',
       'seriesDescription_6', 'PASC_OECD_T3', 'unit_6', 'seriesId_7',
       'seriesDescription_7', 'COPS_OPEC', 'unit_7', 'seriesId_8',
       'seriesDescription_8', 'COPC_OPEC', 'unit_8', 'seriesId_9',
       'seriesDescription_9', 'T3_STCHANGE_OOECD', 'unit_9', 'seriesId_10',
       'seriesDescription_10', 'T3_STCHANGE_NOECD', 'unit_10'],
      dtype='object')

#### Drop some cols

In [11]:
columns_to_drop = [col for col in merged_df.columns if 'seriesId' in col or 'unit' in col or 'seriesDescription' in col]
merged_df.drop(columns=columns_to_drop, inplace=True)

In [12]:
merged_df

,period,PAPR_NONOPEC,PAPR_OPEC,PATC_OECD,PATC_NON_OECD,COPRPUS,CORIPUS,PASC_OECD_T3,COPS_OPEC,COPC_OPEC,T3_STCHANGE_OOECD,T3_STCHANGE_NOECD
0,2000-01-01,47.662093,28.008193,47.226772,28.286122,5.784376,13.779000,NaN,5.984101,31.236635,NaN,NaN
1,2000-02-01,47.582217,28.671193,50.229341,28.770679,5.851839,14.028000,NaN,5.321119,31.236635,NaN,NaN
2,2000-03-01,47.696975,28.605599,49.358083,28.528547,5.918207,14.613000,NaN,5.387853,31.236635,NaN,NaN
3,2000-04-01,47.368439,29.552483,46.286749,28.131882,5.854166,15.053000,NaN,4.469957,31.236635,NaN,NaN
4,2000-05-01,47.383670,30.081687,47.338795,28.216862,5.846510,15.494000,NaN,3.948044,31.236635,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
283,2023-08-01,69.882913,31.363500,46.451626,56.076377,13.041109,16.689161,2811.884847,4.510250,30.595250,-0.501419,1.448644
284,2023-09-01,70.305827,31.988400,45.711731,56.759748,13.246560,16.239267,2814.880556,3.960250,30.705250,0.739967,0.308575
285,2023-10-01,70.536928,31.854400,46.185250,55.244365,13.218734,15.356871,2777.867101,4.150250,30.775250,0.566129,-2.155695
286,2023-11-01,71.234446,31.905062,46.253601,56.354514,13.295252,15.937167,2784.833237,4.270250,30.880250,-0.125988,-0.277955
287,2023-12-01,71.222288,31.892104,45.798698,57.305410,13.264092,16.501839,2773.772224,4.500250,31.020250,-0.123572,-0.277639

#### Get data Spot Crude Oil Price: West Texas Intermediate (WTI)

In [13]:
from fredapi import Fred

fred_api_key = 'cb0b74faa66ebda84a8c7f87631dfe36'

fred = Fred(api_key=fred_api_key)
# Spot Crude Oil Price: WTI grade
data_label = "WTISPLC"  
fred_data = pd.DataFrame(
    fred.get_series(data_label), columns=[data_label]
)

In [14]:
fred_data

            WTISPLC
1946-01-01     1.17
1946-02-01     1.17
1946-03-01     1.17
1946-04-01     1.27
1946-05-01     1.27
...             ...
2024-02-01    77.25
2024-03-01    81.28
2024-04-01    85.35
2024-05-01    80.12
2024-06-01    82.69

[942 rows x 1 columns]

#### Merge those spot prices next to their respective period

In [15]:
fred_data.reset_index(inplace=True)
fred_data.rename(columns={'index': 'period'}, inplace=True)

# Merge
merged_df = merged_df.merge(fred_data, on='period', how='left')

In [16]:
merged_df

,period,PAPR_NONOPEC,PAPR_OPEC,PATC_OECD,PATC_NON_OECD,COPRPUS,CORIPUS,PASC_OECD_T3,COPS_OPEC,COPC_OPEC,T3_STCHANGE_OOECD,T3_STCHANGE_NOECD,WTISPLC
0,2000-01-01,47.662093,28.008193,47.226772,28.286122,5.784376,13.779000,NaN,5.984101,31.236635,NaN,NaN,27.18
1,2000-02-01,47.582217,28.671193,50.229341,28.770679,5.851839,14.028000,NaN,5.321119,31.236635,NaN,NaN,29.35
2,2000-03-01,47.696975,28.605599,49.358083,28.528547,5.918207,14.613000,NaN,5.387853,31.236635,NaN,NaN,29.89
3,2000-04-01,47.368439,29.552483,46.286749,28.131882,5.854166,15.053000,NaN,4.469957,31.236635,NaN,NaN,25.74
4,2000-05-01,47.383670,30.081687,47.338795,28.216862,5.846510,15.494000,NaN,3.948044,31.236635,NaN,NaN,28.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2023-08-01,69.882913,31.363500,46.451626,56.076377,13.041109,16.689161,2811.884847,4.510250,30.595250,-0.501419,1.448644,81.39
284,2023-09-01,70.305827,31.988400,45.711731,56.759748,13.246560,16.239267,2814.880556,3.960250,30.705250,0.739967,0.308575,89.43
285,2023-10-01,70.536928,31.854400,46.185250,55.244365,13.218734,15.356871,2777.867101,4.150250,30.775250,0.566129,-2.155695,85.64
286,2023-11-01,71.234446,31.905062,46.253601,56.354514,13.295252,15.937167,2784.833237,4.270250,30.880250,-0.125988,-0.277955,77.69
287,2023-12-01,71.222288,31.892104,45.798698,57.305410,13.264092,16.501839,2773.772224,4.500250,31.020250,-0.123572,-0.277639,71.90

#### Cleaning macro-geo data

In [17]:
combined_data = pd.read_csv('combined_macro_data.csv')
combined_data

                             Series        date       value      period
0                  Global Inflation  2000-01-01  169.300000         NaN
1                  Global Inflation  2000-02-01  170.000000         NaN
2                  Global Inflation  2000-03-01  171.000000         NaN
3                  Global Inflation  2000-04-01  170.900000         NaN
4                  Global Inflation  2000-05-01  171.200000         NaN
...                             ...         ...         ...         ...
2395  Political Stability Index YEM         NaN   -2.996031  2018-01-01
2396  Political Stability Index YEM         NaN   -2.770874  2019-01-01
2397  Political Stability Index YEM         NaN   -2.647646  2020-01-01
2398  Political Stability Index YEM         NaN   -2.580310  2021-01-01
2399  Political Stability Index YEM         NaN   -2.476880  2022-01-01

[2400 rows x 4 columns]

#### Check for variables in 'Series' col

In [18]:
combined_data.Series.value_counts()

Series
Global Inflation                          289
U.S. Interest Rate                        289
EU Interest Rate                          289
U.S. Unemployment                         289
EU Unemployment                            80
External Debt, Total                       50
Crude Oil Prices                           50
Gross Domestic Product, Current Prices     50
Exports of Goods and Services              50
Imports of Goods and Services              50
Current Account Balance                    50
Political Stability Index LCA              24
Political Stability Index GAB              24
Political Stability Index OMN              24
Political Stability Index EGY              24
Political Stability Index GNQ              24
Political Stability Index LBR              24
Political Stability Index LBN              24
Political Stability Index TKM              24
Political Stability Index LBY              24
Political Stability Index MYS              24
Political Stability Index SYR              24
Political Stability Index SDN              24
Political Stability Index DZA              24
Political Stability Index TTO              24
Political Stability Index TUN              24
Political Stability Index UZB              24
Political Stability Index COL              24
Political Stability Index BRA              24
Political Stability Index AGO              24
Political Stability Index KAZ              24
Political Stability Index IRN              24
Political Stability Index IRQ              24
Political Stability Index KWT              24
Political Stability Index QAT              24
Political Stability Index SAU              24
Political Stability Index ARE              24
Political Stability Index USA              24
Political Stability Index RUS              24
Political Stability Index CAN              24
Political Stability Index CHN              24
Political Stability Index MEX              24
Political Stability Index VEN              24
Political Stability Index NGA              24
Political Stability Index NLD              24
Political Stability Index NOR              24
Political Stability Index YEM              24
Name: count, dtype: int64

Col 'Series' with values:
- 'Global Inflation'
- 'U.S. Interest Rate'
- 'EU Interest Rate'
- 'U.S. Unemployment'
- 'EU Unemployment' 

have nan values in col 'period'. The rest of the values of col 'Series' have nan values in col 'dates'. They need to be put together in 'period' col.

In [19]:
data = combined_data.copy()
data['period'] = data.apply(lambda row: row['date'] if pd.isna(row['period']) else row['period'], axis=1)

In [20]:
data

                             Series        date       value      period
0                  Global Inflation  2000-01-01  169.300000  2000-01-01
1                  Global Inflation  2000-02-01  170.000000  2000-02-01
2                  Global Inflation  2000-03-01  171.000000  2000-03-01
3                  Global Inflation  2000-04-01  170.900000  2000-04-01
4                  Global Inflation  2000-05-01  171.200000  2000-05-01
...                             ...         ...         ...         ...
2395  Political Stability Index YEM         NaN   -2.996031  2018-01-01
2396  Political Stability Index YEM         NaN   -2.770874  2019-01-01
2397  Political Stability Index YEM         NaN   -2.647646  2020-01-01
2398  Political Stability Index YEM         NaN   -2.580310  2021-01-01
2399  Political Stability Index YEM         NaN   -2.476880  2022-01-01

[2400 rows x 4 columns]

In [21]:
data.drop('date', axis=1, inplace=True)

# Number of variables
data.Series.nunique()

47

#### Remove variables from 'Series' col and make a new col under their name with their respective values

In [22]:
unique_Series_vals = data.Series.unique()

for i in unique_Series_vals:
    data[i] = data.apply(lambda row: row['value'] if row['Series'] == i else np.nan, axis=1)

data = data.drop(['Series', 'value'], axis=1)

In [23]:
data.head()

,period,Global Inflation,U.S. Unemployment,U.S. Interest Rate,EU Unemployment,EU Interest Rate,Current Account Balance,Imports of Goods and Services,Exports of Goods and Services,"External Debt, Total",...,Political Stability Index LCA,Political Stability Index LBY,Political Stability Index MYS,Political Stability Index SYR,Political Stability Index SDN,Political Stability Index TKM,Political Stability Index TTO,Political Stability Index TUN,Political Stability Index UZB,Political Stability Index YEM
0,2000-01-01,169.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-02-01,170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-03-01,171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-04-01,170.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-05-01,171.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data = data.groupby('period').first().reset_index()

data['period'] = pd.to_datetime(data['period'])
data = data[(data['period'] >= pd.to_datetime('2000-01-01')) & (data['period'] < pd.to_datetime('2024-01-01'))]

data.reset_index(drop=True, inplace=True)
data.head()

,period,Global Inflation,U.S. Unemployment,U.S. Interest Rate,EU Unemployment,EU Interest Rate,Current Account Balance,Imports of Goods and Services,Exports of Goods and Services,"External Debt, Total",...,Political Stability Index LCA,Political Stability Index LBY,Political Stability Index MYS,Political Stability Index SYR,Political Stability Index SDN,Political Stability Index TKM,Political Stability Index TTO,Political Stability Index TUN,Political Stability Index UZB,Political Stability Index YEM
0,2000-01-01,169.3,4.0,5.45,9.200000,3.0429,-155.677,NaN,NaN,NaN,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
1,2000-02-01,170.0,4.1,5.73,NaN,3.2757,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-03-01,171.0,4.0,5.85,NaN,3.5104,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-04-01,170.9,3.8,6.02,9.066667,3.6850,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-05-01,171.2,4.0,6.27,NaN,3.9200,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data.columns

Index(['period', 'Global Inflation', 'U.S. Unemployment', 'U.S. Interest Rate',
       'EU Unemployment', 'EU Interest Rate', 'Current Account Balance',
       'Imports of Goods and Services', 'Exports of Goods and Services',
       'External Debt, Total', 'Gross Domestic Product, Current Prices',
       'Crude Oil Prices', 'Political Stability Index IRN',
       'Political Stability Index IRQ', 'Political Stability Index KWT',
       'Political Stability Index QAT', 'Political Stability Index SAU',
       'Political Stability Index ARE', 'Political Stability Index USA',
       'Political Stability Index RUS', 'Political Stability Index CAN',
       'Political Stability Index CHN', 'Political Stability Index MEX',
       'Political Stability Index VEN', 'Political Stability Index BRA',
       'Political Stability Index NGA', 'Political Stability Index NLD',
       'Political Stability Index NOR', 'Political Stability Index KAZ',
       'Political Stability Index AGO', 'Political Stability Index DZA',
       'Political Stability Index COL', 'Political Stability Index GAB',
       'Political Stability Index OMN', 'Political Stability Index EGY',
       'Political Stability Index GNQ', 'Political Stability Index LBR',
       'Political Stability Index LBN', 'Political Stability Index LCA',
       'Political Stability Index LBY', 'Political Stability Index MYS',
       'Political Stability Index SYR', 'Political Stability Index SDN',
       'Political Stability Index TKM', 'Political Stability Index TTO',
       'Political Stability Index TUN', 'Political Stability Index UZB',
       'Political Stability Index YEM'],
      dtype='object')

#### Check how nan values work
Some nan values showed insufficient data while other nan values were present because the same value was applicable to the rest of the year.

In [26]:
data[data['period']<'2003-05-01'][['period', 'Political Stability Index IRQ']]

       period  Political Stability Index IRQ
0  2000-01-01                      -1.732643
1  2000-02-01                            NaN
2  2000-03-01                            NaN
3  2000-04-01                            NaN
4  2000-05-01                            NaN
5  2000-06-01                            NaN
6  2000-07-01                            NaN
7  2000-08-01                            NaN
8  2000-09-01                            NaN
9  2000-10-01                            NaN
10 2000-11-01                            NaN
11 2000-12-01                            NaN
12 2001-01-01                            NaN
13 2001-02-01                            NaN
14 2001-03-01                            NaN
15 2001-04-01                            NaN
16 2001-05-01                            NaN
17 2001-06-01                            NaN
18 2001-07-01                            NaN
19 2001-08-01                            NaN
20 2001-09-01                            NaN
21 2001-10-01                            NaN
22 2001-11-01                            NaN
23 2001-12-01                            NaN
24 2002-01-01                      -1.601287
25 2002-02-01                            NaN
26 2002-03-01                            NaN
27 2002-04-01                            NaN
28 2002-05-01                            NaN
29 2002-06-01                            NaN
30 2002-07-01                            NaN
31 2002-08-01                            NaN
32 2002-09-01                            NaN
33 2002-10-01                            NaN
34 2002-11-01                            NaN
35 2002-12-01                            NaN
36 2003-01-01                      -2.393245
37 2003-02-01                            NaN
38 2003-03-01                            NaN
39 2003-04-01                            NaN

Some of the columns have irregularities with their nan values meaning that we need to do something about them. On the other hand, some variables have same value throughout the year.

Irregularities nan:
- 'EU Unemployment'
- 'Imports of Goods and Services'
- 'Exports of Goods and Services'
- 'External Debt, Total'


Yearly nan (is same throughout the year):
- 'Current Account Balance'
- 'Gross Domestic Product, Current Prices'
- 'Crude Oil Prices' #These prices remain same for 1 year. WTISPLC spot price changes evry month.
- 'Political Stability Index IRN'
- 'Political Stability Index IRQ'
- 'Political Stability Index KWT',
- 'Political Stability Index QAT'
- 'Political Stability Index SAU',
- 'Political Stability Index ARE'
- 'Political Stability Index USA',
- 'Political Stability Index RUS'
- 'Political Stability Index CAN',
- 'Political Stability Index CHN'
- 'Political Stability Index MEX',
- 'Political Stability Index VEN'
- 'Political Stability Index BRA',
- 'Political Stability Index NGA'
- 'Political Stability Index NLD',
- 'Political Stability Index NOR'
- 'Political Stability Index KAZ',
- 'Political Stability Index AGO'
- 'Political Stability Index DZA',
- 'Political Stability Index COL'
- 'Political Stability Index GAB',
- 'Political Stability Index OMN'
- 'Political Stability Index EGY',
- 'Political Stability Index GNQ'
- 'Political Stability Index LBR',
- 'Political Stability Index LBN'
- 'Political Stability Index LCA',
- 'Political Stability Index LBY'
- 'Political Stability Index MYS',
- 'Political Stability Index SYR'
- 'Political Stability Index SDN',
- 'Political Stability Index TKM'
- 'Political Stability Index TTO',
- 'Political Stability Index TUN'
- 'Political Stability Index UZB',
- 'Political Stability Index YEM'

In [27]:
columns_to_fill = [
    'Current Account Balance', 'Gross Domestic Product, Current Prices',
    'Crude Oil Prices', 'Political Stability Index IRN', 'Political Stability Index IRQ', 
    'Political Stability Index KWT', 'Political Stability Index QAT', 
    'Political Stability Index SAU', 'Political Stability Index ARE', 
    'Political Stability Index USA', 'Political Stability Index RUS', 
    'Political Stability Index CAN', 'Political Stability Index CHN', 
    'Political Stability Index MEX', 'Political Stability Index VEN', 
    'Political Stability Index BRA', 'Political Stability Index NGA', 
    'Political Stability Index NLD', 'Political Stability Index NOR', 
    'Political Stability Index KAZ', 'Political Stability Index AGO', 
    'Political Stability Index DZA', 'Political Stability Index COL', 
    'Political Stability Index GAB', 'Political Stability Index OMN', 
    'Political Stability Index EGY', 'Political Stability Index GNQ', 
    'Political Stability Index LBR', 'Political Stability Index LBN', 
    'Political Stability Index LCA', 'Political Stability Index LBY', 
    'Political Stability Index MYS', 'Political Stability Index SYR', 
    'Political Stability Index SDN', 'Political Stability Index TKM', 
    'Political Stability Index TTO', 'Political Stability Index TUN', 
    'Political Stability Index UZB', 'Political Stability Index YEM'
]

data[columns_to_fill] = data[columns_to_fill].ffill()

data

,period,Global Inflation,U.S. Unemployment,U.S. Interest Rate,EU Unemployment,EU Interest Rate,Current Account Balance,Imports of Goods and Services,Exports of Goods and Services,"External Debt, Total",...,Political Stability Index LCA,Political Stability Index LBY,Political Stability Index MYS,Political Stability Index SYR,Political Stability Index SDN,Political Stability Index TKM,Political Stability Index TTO,Political Stability Index TUN,Political Stability Index UZB,Political Stability Index YEM
0,2000-01-01,169.300,4.0,5.45,9.200000,3.042900,-155.677,NaN,NaN,NaN,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
1,2000-02-01,170.000,4.1,5.73,NaN,3.275700,-155.677,NaN,NaN,NaN,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
2,2000-03-01,171.000,4.0,5.85,NaN,3.510400,-155.677,NaN,NaN,NaN,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
3,2000-04-01,170.900,3.8,6.02,9.066667,3.685000,-155.677,NaN,NaN,NaN,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
4,2000-05-01,171.200,4.0,6.27,NaN,3.920000,-155.677,NaN,NaN,NaN,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2023-08-01,306.187,3.8,5.33,NaN,3.610367,563.929,NaN,NaN,NaN,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880
284,2023-09-01,307.288,3.8,5.33,NaN,3.712522,563.929,NaN,NaN,NaN,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880
285,2023-10-01,307.531,3.8,5.33,NaN,3.901060,563.929,NaN,NaN,NaN,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880
286,2023-11-01,308.024,3.7,5.33,NaN,3.902744,563.929,NaN,NaN,NaN,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880
287,2023-12-01,308.742,3.7,5.33,NaN,3.903442,563.929,NaN,NaN,NaN,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880

#### Merge this dataframe with 'merged_df' dataframe

In [28]:
merged_df

,period,PAPR_NONOPEC,PAPR_OPEC,PATC_OECD,PATC_NON_OECD,COPRPUS,CORIPUS,PASC_OECD_T3,COPS_OPEC,COPC_OPEC,T3_STCHANGE_OOECD,T3_STCHANGE_NOECD,WTISPLC
0,2000-01-01,47.662093,28.008193,47.226772,28.286122,5.784376,13.779000,NaN,5.984101,31.236635,NaN,NaN,27.18
1,2000-02-01,47.582217,28.671193,50.229341,28.770679,5.851839,14.028000,NaN,5.321119,31.236635,NaN,NaN,29.35
2,2000-03-01,47.696975,28.605599,49.358083,28.528547,5.918207,14.613000,NaN,5.387853,31.236635,NaN,NaN,29.89
3,2000-04-01,47.368439,29.552483,46.286749,28.131882,5.854166,15.053000,NaN,4.469957,31.236635,NaN,NaN,25.74
4,2000-05-01,47.383670,30.081687,47.338795,28.216862,5.846510,15.494000,NaN,3.948044,31.236635,NaN,NaN,28.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2023-08-01,69.882913,31.363500,46.451626,56.076377,13.041109,16.689161,2811.884847,4.510250,30.595250,-0.501419,1.448644,81.39
284,2023-09-01,70.305827,31.988400,45.711731,56.759748,13.246560,16.239267,2814.880556,3.960250,30.705250,0.739967,0.308575,89.43
285,2023-10-01,70.536928,31.854400,46.185250,55.244365,13.218734,15.356871,2777.867101,4.150250,30.775250,0.566129,-2.155695,85.64
286,2023-11-01,71.234446,31.905062,46.253601,56.354514,13.295252,15.937167,2784.833237,4.270250,30.880250,-0.125988,-0.277955,77.69
287,2023-12-01,71.222288,31.892104,45.798698,57.305410,13.264092,16.501839,2773.772224,4.500250,31.020250,-0.123572,-0.277639,71.90

In [29]:
merged_result = pd.merge(merged_df, data, on='period', how='inner')
merged_result

,period,PAPR_NONOPEC,PAPR_OPEC,PATC_OECD,PATC_NON_OECD,COPRPUS,CORIPUS,PASC_OECD_T3,COPS_OPEC,COPC_OPEC,...,Political Stability Index LCA,Political Stability Index LBY,Political Stability Index MYS,Political Stability Index SYR,Political Stability Index SDN,Political Stability Index TKM,Political Stability Index TTO,Political Stability Index TUN,Political Stability Index UZB,Political Stability Index YEM
0,2000-01-01,47.662093,28.008193,47.226772,28.286122,5.784376,13.779000,NaN,5.984101,31.236635,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
1,2000-02-01,47.582217,28.671193,50.229341,28.770679,5.851839,14.028000,NaN,5.321119,31.236635,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
2,2000-03-01,47.696975,28.605599,49.358083,28.528547,5.918207,14.613000,NaN,5.387853,31.236635,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
3,2000-04-01,47.368439,29.552483,46.286749,28.131882,5.854166,15.053000,NaN,4.469957,31.236635,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
4,2000-05-01,47.383670,30.081687,47.338795,28.216862,5.846510,15.494000,NaN,3.948044,31.236635,...,1.223600,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.301950,-1.145441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2023-08-01,69.882913,31.363500,46.451626,56.076377,13.041109,16.689161,2811.884847,4.510250,30.595250,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880
284,2023-09-01,70.305827,31.988400,45.711731,56.759748,13.246560,16.239267,2814.880556,3.960250,30.705250,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880
285,2023-10-01,70.536928,31.854400,46.185250,55.244365,13.218734,15.356871,2777.867101,4.150250,30.775250,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880
286,2023-11-01,71.234446,31.905062,46.253601,56.354514,13.295252,15.937167,2784.833237,4.270250,30.880250,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880
287,2023-12-01,71.222288,31.892104,45.798698,57.305410,13.264092,16.501839,2773.772224,4.500250,31.020250,...,0.869226,-2.197963,0.140358,-2.797252,-1.998894,-0.100281,0.357975,-0.596295,-0.196215,-2.476880

In [30]:
merged_result.columns

Index(['period', 'PAPR_NONOPEC', 'PAPR_OPEC', 'PATC_OECD', 'PATC_NON_OECD',
       'COPRPUS', 'CORIPUS', 'PASC_OECD_T3', 'COPS_OPEC', 'COPC_OPEC',
       'T3_STCHANGE_OOECD', 'T3_STCHANGE_NOECD', 'WTISPLC', 'Global Inflation',
       'U.S. Unemployment', 'U.S. Interest Rate', 'EU Unemployment',
       'EU Interest Rate', 'Current Account Balance',
       'Imports of Goods and Services', 'Exports of Goods and Services',
       'External Debt, Total', 'Gross Domestic Product, Current Prices',
       'Crude Oil Prices', 'Political Stability Index IRN',
       'Political Stability Index IRQ', 'Political Stability Index KWT',
       'Political Stability Index QAT', 'Political Stability Index SAU',
       'Political Stability Index ARE', 'Political Stability Index USA',
       'Political Stability Index RUS', 'Political Stability Index CAN',
       'Political Stability Index CHN', 'Political Stability Index MEX',
       'Political Stability Index VEN', 'Political Stability Index BRA',
       'Political Stability Index NGA', 'Political Stability Index NLD',
       'Political Stability Index NOR', 'Political Stability Index KAZ',
       'Political Stability Index AGO', 'Political Stability Index DZA',
       'Political Stability Index COL', 'Political Stability Index GAB',
       'Political Stability Index OMN', 'Political Stability Index EGY',
       'Political Stability Index GNQ', 'Political Stability Index LBR',
       'Political Stability Index LBN', 'Political Stability Index LCA',
       'Political Stability Index LBY', 'Political Stability Index MYS',
       'Political Stability Index SYR', 'Political Stability Index SDN',
       'Political Stability Index TKM', 'Political Stability Index TTO',
       'Political Stability Index TUN', 'Political Stability Index UZB',
       'Political Stability Index YEM'],
      dtype='object')

In [31]:
merged_result.drop(['Imports of Goods and Services', 'Exports of Goods and Services', 'Crude Oil Prices', 'External Debt, Total'], axis=1, inplace=True)

In [32]:
#merged_result.to_csv('cleaned_dataset_step5-partb.csv')

In [33]:
merged_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 56 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   period                                  288 non-null    datetime64[ns]
 1   PAPR_NONOPEC                            288 non-null    float64
 2   PAPR_OPEC                               288 non-null    float64
 3   PATC_OECD                               288 non-null    float64
 4   PATC_NON_OECD                           288 non-null    float64
 5   COPRPUS                                 288 non-null    float64
 6   CORIPUS                                 288 non-null    float64
 7   PASC_OECD_T3                            252 non-null    float64
 8   COPS_OPEC                               288 non-null    float64
 9   COPC_OPEC                               288 non-null    float64
 10  T3_STCHANGE_OOECD                       251 non-null    float64
 11  T3_STCHANGE_NOECD                       251 non-null    float64
 12  WTISPLC                                 288 non-null    float64
 13  Global Inflation                        288 non-null    float64
 14  U.S. Unemployment                       288 non-null    float64
 15  U.S. Interest Rate                      288 non-null    float64
 16  EU Unemployment                         80 non-null     float64
 17  EU Interest Rate                        288 non-null    float64
 18  Current Account Balance                 288 non-null    float64
 19  Gross Domestic Product, Current Prices  288 non-null    float64
 20  Political Stability Index IRN           288 non-null    float64
 21  Political Stability Index IRQ           288 non-null    float64
 22  Political Stability Index KWT           288 non-null    float64
 23  Political Stability Index QAT           288 non-null    float64
 24  Political Stability Index SAU           288 non-null    float64
 25  Political Stability Index ARE           288 non-null    float64
 26  Political Stability Index USA           288 non-null    float64
 27  Political Stability Index RUS           288 non-null    float64
 28  Political Stability Index CAN           288 non-null    float64
 29  Political Stability Index CHN           288 non-null    float64
 30  Political Stability Index MEX           288 non-null    float64
 31  Political Stability Index VEN           288 non-null    float64
 32  Political Stability Index BRA           288 non-null    float64
 33  Political Stability Index NGA           288 non-null    float64
 34  Political Stability Index NLD           288 non-null    float64
 35  Political Stability Index NOR           288 non-null    float64
 36  Political Stability Index KAZ           288 non-null    float64
 37  Political Stability Index AGO           288 non-null    float64
 38  Political Stability Index DZA           288 non-null    float64
 39  Political Stability Index COL           288 non-null    float64
 40  Political Stability Index GAB           288 non-null    float64
 41  Political Stability Index OMN           288 non-null    float64
 42  Political Stability Index EGY           288 non-null    float64
 43  Political Stability Index GNQ           288 non-null    float64
 44  Political Stability Index LBR           288 non-null    float64
 45  Political Stability Index LBN           288 non-null    float64
 46  Political Stability Index LCA           288 non-null    float64
 47  Political Stability Index LBY           288 non-null    float64
 48  Political Stability Index MYS           288 non-null    float64
 49  Political Stability Index SYR           288 non-null    float64
 50  Political Stability Index SDN           288 non-null    float64
 51  Political Stability Index TKM           288 non-null    float64
 52  Political Stability Index TTO           288 non-null    float64
 53  Political Stability Index TUN           288 non-null    float64
 54  Political Stability Index UZB           288 non-null    float64
 55  Political Stability Index YEM           288 non-null    float64
dtypes: datetime64[ns](1), float64(55)
memory usage: 126.1 KB

In [34]:
merged_result.head()

,period,PAPR_NONOPEC,PAPR_OPEC,PATC_OECD,PATC_NON_OECD,COPRPUS,CORIPUS,PASC_OECD_T3,COPS_OPEC,COPC_OPEC,...,Political Stability Index LCA,Political Stability Index LBY,Political Stability Index MYS,Political Stability Index SYR,Political Stability Index SDN,Political Stability Index TKM,Political Stability Index TTO,Political Stability Index TUN,Political Stability Index UZB,Political Stability Index YEM
0,2000-01-01,47.662093,28.008193,47.226772,28.286122,5.784376,13.779,NaN,5.984101,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
1,2000-02-01,47.582217,28.671193,50.229341,28.770679,5.851839,14.028,NaN,5.321119,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
2,2000-03-01,47.696975,28.605599,49.358083,28.528547,5.918207,14.613,NaN,5.387853,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
3,2000-04-01,47.368439,29.552483,46.286749,28.131882,5.854166,15.053,NaN,4.469957,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
4,2000-05-01,47.383670,30.081687,47.338795,28.216862,5.846510,15.494,NaN,3.948044,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441

In [35]:
# outlier detection step

In [36]:
# pip install scikit-learn

In [37]:
from sklearn.ensemble import IsolationForest

In [38]:
def treat_outliers_isolation_forest(df, contamination=0.01):
    iso_forest = IsolationForest(contamination=contamination, random_state=42)  # Set contamination level and random state
    df_out = df.copy()
    
    for column in df.columns:
        if df[column].dtype in ['int64', 'float64']:  # Apply only to numeric columns
            not_nan = df[column].dropna()
            outliers = iso_forest.fit_predict(not_nan.values.reshape(-1, 1))
            df_out.loc[not_nan.index, column] = np.where(outliers == -1, np.nan, not_nan)
    
    return df_out

In [39]:
cleaned_result_iforest = treat_outliers_isolation_forest(merged_result, contamination=0.01) # here we are considering conservative approach with 1% thershold

In [40]:
cleaned_result_iforest.head()

,period,PAPR_NONOPEC,PAPR_OPEC,PATC_OECD,PATC_NON_OECD,COPRPUS,CORIPUS,PASC_OECD_T3,COPS_OPEC,COPC_OPEC,...,Political Stability Index LCA,Political Stability Index LBY,Political Stability Index MYS,Political Stability Index SYR,Political Stability Index SDN,Political Stability Index TKM,Political Stability Index TTO,Political Stability Index TUN,Political Stability Index UZB,Political Stability Index YEM
0,2000-01-01,47.662093,28.008193,47.226772,28.286122,5.784376,13.779,NaN,5.984101,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
1,2000-02-01,47.582217,28.671193,50.229341,28.770679,5.851839,14.028,NaN,5.321119,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
2,2000-03-01,47.696975,28.605599,49.358083,28.528547,5.918207,14.613,NaN,5.387853,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
3,2000-04-01,NaN,29.552483,46.286749,NaN,5.854166,15.053,NaN,4.469957,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
4,2000-05-01,47.383670,30.081687,47.338795,28.216862,5.846510,15.494,NaN,3.948044,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441

In [41]:
# optional step to replace Nan with 
cleaned_result_iforest = cleaned_result_iforest.apply(lambda x: x.fillna(x.median()), axis=0)

In [42]:
cleaned_result_iforest.head()

,period,PAPR_NONOPEC,PAPR_OPEC,PATC_OECD,PATC_NON_OECD,COPRPUS,CORIPUS,PASC_OECD_T3,COPS_OPEC,COPC_OPEC,...,Political Stability Index LCA,Political Stability Index LBY,Political Stability Index MYS,Political Stability Index SYR,Political Stability Index SDN,Political Stability Index TKM,Political Stability Index TTO,Political Stability Index TUN,Political Stability Index UZB,Political Stability Index YEM
0,2000-01-01,47.662093,28.008193,47.226772,28.286122,5.784376,13.779,2709.462514,5.984101,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
1,2000-02-01,47.582217,28.671193,50.229341,28.770679,5.851839,14.028,2709.462514,5.321119,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
2,2000-03-01,47.696975,28.605599,49.358083,28.528547,5.918207,14.613,2709.462514,5.387853,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
3,2000-04-01,56.526595,29.552483,46.286749,43.578956,5.854166,15.053,2709.462514,4.469957,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441
4,2000-05-01,47.383670,30.081687,47.338795,28.216862,5.846510,15.494,2709.462514,3.948044,31.236635,...,1.2236,-0.294287,0.092691,-0.180451,-2.244173,0.008447,0.153456,0.321115,-1.30195,-1.145441

In [43]:
cleaned_result_iforest.to_csv('cleaned_result_iforest.csv')